{% extends "site_base.html" %}
{% load humanize %}

{% block content %}
<div class="container">
<h2>repository contents</h2>

<p><b>{{ total|intcomma }}</b> objects indexed from {{ fedora }}
  [<a href="{% url 'check-indexing' %}">check indexing</a>]</p>
<p><b>{{ stats.binary_count.sum|floatformat:"0"|intcomma }}</b> binary datastream versions</p>
{# not sure why solr stats is returning a float with .0, but convert to display as int #}
<p><b>{{ stats.size.sum|filesizeformat }}</b> total storage</p>
<p>Charts:
    <a href="{% url 'size-range' %}">size range by type</a> |
    <a href="{% url 'collection-treemap' %}"># of objects by collection</a> |
    <a href="{% url 'mimetype-treemap' %}"># of objects by mimetype</a> |
    <a href="{% url 'mimetype-size-treemap' %}">size of content by mimetype</a>
</p>

<h3>Size Statistics</h3>
<table class="table table-striped sortable">
<thead>
    <tr>
        <th data-orderable="false"></th>
        <th>max</th>
        <th>min</th>
        <th>mean</th>
        <th>total</th>
    </tr>
</thead>
<tbody>
{% for size, data in stats.iteritems %}
    {% if size != 'binary_count' %}
    <tr>
        <th>{{ size|cut:"_size" }}</th>
        <td data-order="{{ data.max }}">{{ data.max|filesizeformat }}</td>
        <td data-order="{{ data.min }}">{{ data.min|filesizeformat }}</td>
        <td data-order="{{ data.mean }}">{{ data.mean|filesizeformat }}</td>
        <td data-order="{{ data.sum }}">{{ data.sum|filesizeformat }}</td>
    </tr>
    {% endif %}
{% endfor %}
</tbody>
</table>

{% if data.binary_size.min < 1 %}
<p><a href="{% url 'negative-size' %}">View all objects with binary datastream size 0 or less</a></p>
{% endif %}

<div class="row">

<div class="col-md-6">

<h3>Total objects by content model</h3>
<table class="table table-striped sortable">
<thead>
    <tr><th># objects</th><th>content model</th></tr>
</thead>
<tbody>
{% for val, count in facets.content_model %}
    <tr>
        <td data-order="{{ count }}">{{ count|intcomma }}</td>
        <td>{{ val }}</td>
    </tr>
{% endfor %}
</tbody>
</table>

{# stats facets includes value and count; easier to display just via stats #}
{# than to try to combine facets results with stats query #}
{% with stats.binary_size.facets.mimetype as mimetype_stats %}
<h3>Total objects by primary mimetype</h3>  {# primary content mimetype #}
<table class="table table-striped sortable">
<thead>
    <tr>
        <th># objects</th>
        <th>mimetype</th>
        <th>binary size</th>
    </tr>
</thead>
{% for mimetype, stats in mimetype_stats.iteritems %}
    <tr>
        <td data-order="{{ stats.count }}">{{ stats.count|intcomma }}</td>
        <td>{{ mimetype }}</td>
        <td data-order="{{ stats.sum }}">{{ stats.sum|filesizeformat }}</td>
    </tr>
{% endfor %}
</table>
{% endwith %}



</div>
<div class="col-md-6">

<table><h3>Total objects by collection</h3>
<table class="table table-striped sortable">
<thead>
    <tr><th># objects</th><th>collection</th></tr>
</thead>
<tbody>
{% for val, count in facets.collection %}
    <tr>
        <td data-order="{{ count }}">{{ count|intcomma }}</td>
        <td>{{ val }}</td>
    </tr>
{% endfor %}
</tbody>
</table>

{% with stats.object_size.facets.state as status_stats %}
<h3>Total objects by status</h3>
<table class="table table-striped sortable">
<thead>
<tr><th># objects</th><th>status</th><th>object size</th></tr>
</thead>
<tbody>
{# convert fedora codes to labels for readability #}
{% for status, stats in status_stats.iteritems %}
    <tr>
        <td data-order="{{ stats.count }}">{{ stats.count|intcomma }}</td>
        <td>{% if status = 'A' %}Active
            {% elif status = 'I' %}Inactive
            {% elif status = 'D' %}Deleted
            {% else %}{{ status }}{% endif %}</td>
        <td data-order="{{ stats.sum }}">{{ stats.sum|filesizeformat }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endwith %}

</div>

{# datastream stats #}

{% with ds_stats.size.facets.mimetype as mimetype_stats %}
<h3>Total datastream versions by mimetype</h3>
<table class="table table-striped sortable">
<thead>
    <tr>
        <th># datastreams</th>
        <th>mimetype</th>
        <th>size</th>
    </tr>
</thead>
{% for mimetype, stats in mimetype_stats.iteritems %}
    <tr>
        <td data-order="{{ stats.count }}">{{ stats.count|intcomma }}</td>
        <td>{{ mimetype }}</td>
        <td data-order="{{ stats.sum }}">{{ stats.sum|filesizeformat }}</td>
    </tr>
{% endfor %}
</table>
{% endwith %}

{% with ds_stats.size.facets.control_group as control_group_stats %}
<h3>Total datastream versions by control group</h3>
<table class="table table-striped sortable">
<thead>
    <tr>
        <th># datastreams</th>
        <th>control group</th>
        <th>size</th>
    </tr>
</thead>
{% for control_group, stats in control_group_stats.iteritems %}
    <tr>
        <td data-order="{{ stats.count }}">{{ stats.count|intcomma }}</td>
        <td>{{ control_group }}
            {% if control_group == 'M' %}(managed)
            {% elif control_group == 'X' %}(inline XML)
            {% elif control_group == 'E' %}(external)
            {% endif %}
        </td>
        <td data-order="{{ stats.sum }}">{{ stats.sum|filesizeformat }}</td>
    </tr>
{% endfor %}
</table>
{% endwith %}

</div>
</div>
{% endblock %}
